main{
  margin-top: 70px;
}
.glass-effect {
  background: rgba(177, 232, 12, 0.25);
  box-shadow: 0 8px 32px 0 rgba(39, 235, 190, 0.37);
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  border-radius: 10px;
  border: 1px solid rgba(8, 237, 122, 0.18);
}