<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    main{
        margin-top: 90px;
    }
</style>
<body>
    <nav class="navbar navbar-dark navbar-expand-sm bg-danger fixed-top">
        <a href="/" class="navbar-brand">
            Plasma Donor App
        </a>
    </nav>
    <main>
        <div class="container">
            <table class="table table-borderless table-responsive-md">
                <thead>
                  <tr class="bg-danger">
                    <th scope="col">No.</th>
                    <th scope="col">Recipient Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Locality</th>
                    <th scope="col">Requested Blood type</th>
                    <th scope="col">Request Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for key,result in results.items(): %}
                    <tr class="table-active">
                    <td>{{key}}</td>
                    <td>{{result['NAME']}}</td>                
                    <td>{{result['AGE']}}</td>                
                    <td>{{result['LOCALITY']}}</td>                
                    <td>{{result['REQUESTED_BLOOD_TYPE']}}</td>                
                    <td>{{result['REQUEST_STATUS']}}</td>   
                    <td><a class="btn btn-primary"
                        href="/BookAppointment/{{result['REQUEST_ID']}}" >Donate</a></td>    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>